@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Qatar2022";
    src: url("https://tickets22.baraa.app/fonts/qatar2022.woff2") format("woff2");
    font-weight: 700;
}

.font-qatar {
    font-family: "Qatar2022", "Inter", "Tajawal", sans-serif;
    font-weight: 700;
}

@layer components {
    html {
        @apply scroll-smooth !important;
    }

    * {
        @apply focus-visible:outline-none focus-visible:animate-pulse focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-white focus-visible:ring-primary focus-visible:rounded;
    }

    svg {
        @apply w-full h-full;
    }
}

.hljs {
    overflow-x: auto;
}

.hljs-keyword {
    color: #ff9e66;
}

.hljs-built_in {
    color: #EED556;
}

.comment {
    color: rgb(229 231 235 / 0.6);
}

.hljs-string {
    color: rgb(173, 219, 103);
}

.hljs-attr {
    color: rgb(128, 203, 196);
}

@media screen and (max-width: 768px) {
    .linenumber {
        position: absolute;
        background: #111827;
        left: 0;
    }
}