@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Qatar2022";
    src: url("https://tickets22.baraa.app/fonts/qatar2022.woff2") format("woff2");
    font-weight: 700;
}

.font-qatar {
    font-family: "Qatar2022", "Inter", "Tajawal", sans-serif;
    font-weight: 700;
}

@layer components {
    html {
        @apply scroll-smooth !important;
    }

    * {
        @apply focus-visible:outline-none focus-visible:animate-pulse focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-offset-white focus-visible:ring-primary focus-visible:rounded;
    }

    svg {
        @apply w-full h-full;
    }

    .bar-of-progress {
        @apply bg-primary dark:bg-secondary !important;
    }
}

.hljs {
    overflow-x: auto;
}

.hljs-keyword {
    color: #ff9e66;
}

.hljs-built_in {
    color: #EED556;
}

.comment {
    color: rgb(229 231 235 / 0.6);
}

.hljs-string {
    color: rgb(173, 219, 103);
}

.hljs-number {
    color: rgb(195, 139, 255);
}

.hljs-literal {
    color: rgb(248, 138, 78);
}

.hljs-attr {
    color: rgb(128, 203, 196);
}

.dark .graph tspan {
    fill: #737373 !important;
}

.graph line {
    stroke: #A3A3A3 !important;
}

.dark .graph line {
    stroke: #404040 !important;
}

.dark .graph path[style="fill: rgb(131, 17, 58); stroke: rgb(131, 17, 58);"],
.dark .graph path[style="fill: rgb(131, 17, 58); stroke: rgb(131, 17, 58); padding: 8px; stroke-width: 0;"] {
    fill: #EEEEE4 !important;
    stroke: #EEEEE4 !important;
}

@media screen and (max-width: 768px) {
    .linenumber {
        position: absolute;
        background: #111827;
        left: 0;
    }
}